<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
{include file="public/head"}
<body>
	<div class="mainContainer sixteen container">
            <!--Header Block-->
            {include file="public/header"}
            <!--Banner Block-->
          <section class="content-wrapper">
	<div class="content-container container">
		<div class="breadcrum-container">
			<ul>
				<li><a href="#" title="Home">Home</a></li>
				<li>当前商品</li>
			</ul>
		</div>
		<div class="main">
			
			<div class="product-info-box">
				<div class="product-essential">
					<div class="product-img-box">
						<p class="product-image-zoom">
							<img src="{$bid.photo}" style="height:300px;width:300px;" alt="Image" title="Image" />
					</div>
					<div class="product-shop">
						<h3 class="product-name">{$bid.name}</h3>
						<div class="price-box">
                		    <span class="price">￥{$bid.price}</span>
							<span class="availability">书籍分类：{$bid.type}</span>
				        </div>
				        <div class="first-review">
							<h5>二手书介绍：</h5>
							<textarea style= "background:transparent;border-style:none; " rows="8" cols="80"> {$bid.introduce}</textarea>
						</div>
						<div class="model-block">
							<p>
								<span>发布时间：{$bid.create_time} </span>20
							</p>
							<p>
								<span>联系电话： </span>20
							</p>
							<p>
								<span>卖家： </span>HTC
							</p>
						</div>
						<div class="add-to-cart-box">
							<button class="form-button" title="Add to Cart"><span>加入购物车</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section  class="product-collateral">
			<h5>评论：</h5>
			<ul class="tab-block">
				<li><a href="#pro-review" title="Reviews">Reviews</a></li>
				<li><a href="#pro-tags" title="Product Tags">Product Tags</a></li>
				<li class="video-box"><a href="#pro-video" title="Video Box">Video Box</a></li>
			</ul>
            <div id="pro-review" class="pro-detail commonContent">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
				</p>
			</div>
            <div id="pro-tags" class="pro-detail commonContent">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
				</p>
			</div>
            <div id="pro-video" class="pro-detail commonContent">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
				</p>
			</div>
		</section>
		<div class="clearfix"></div>
	</div>
</section>
</div>
           <!--Footer Block-->  
           {include file="public/footer"}
</body>
</html>
<script>
$(document).ready(function(){
	$("#password").keyup(function(){
		var password = $("#password").val();
		if(password.length<5){
			$("#password").trigger("focus");
			$('#password').css("border","1px solid red");
			$("#yzpassword").css("color","red").text("密码最小长度为5");
			return false;
		}else{
			$('#password').css("border","1px solid #ccc");
			$("#yzpassword").css("color","red").text("");
		}
	})
}
</script>