<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
{include file="public/head"}
<body>
	<div class="mainContainer sixteen container">
            <!--Header Block-->
            {include file="public/header"}
            <!--Banner Block-->
          <section class="content-wrapper">
	<div class="content-container container">
		<div class="breadcrum-container">
			<ul>
				<li><a href="{:url('index/index')}" title="Home">首页</a></li>
				<li>当前商品</li>
			</ul>
		</div>
		<div class="main">
			
			<div class="product-info-box">
				<div class="product-essential">
					<div class="product-img-box">
						<p class="product-image-zoom">
							<img src="{$bid.photo}" style="height:300px;width:300px;" alt="Image" title="Image" />
						</p>
					</div>
					<div class="product-shop">
						<h3 class="product-name">{$bid.name}</h3>
						<div class="price-box">
                		    <span class="price">￥{$bid.price}</span>
							<span class="availability">书籍分类：{$bid.type}</span>
				        </div>
				        <div class="model-block">
							<p>
								<span style="color:#35C2D8;">发布时间：</span><span>{$bid.create_time} </span>
							</p>
							<p>
								<span style="color:#35C2D8;">卖家：</span><span> {$uid.name}</span>
							</p>
							<p>
								<span style="color:#35C2D8;">联系电话：</span><span>{$uid.phone}</span>
							</p>
						</div>
				        <div class="first-review">
							<h5 style="color:#35C2D8;">二手书介绍：</h5>
							<textarea style= "background:transparent;border-style:none; " rows="12" cols="70"> {$bid.introduce}</textarea>
						</div>
						
						<div class="add-to-cart-box">
							<a class="form-button" href="{:url('index/addcart',['bid'=>$bid.book_id])}" title="Add to Cart"><span>加入购物车</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section  class="product-collateral">
			<h5 style="color:#35C2D8;">留言板：</h5>
        	<textarea style= "background:transparent;border-style:none; " rows="2" cols="130"></textarea>
			{volist name="comment" id="vo"}
            <div id="pro-review" class="pro-detail commonContent">
            
            <li><span style="align-content: stretch; color:#35C2D8;">{$i}楼-{$vo.name}</span><span>（{$vo.addtime}）:</span></li>
				<p><span class="">
					{$vo.text}
					</span>
				</p>
			</div>
			<div style="color:#D1D1D1" >——————————————————————————————————————————————————————————————————————————————</div>
           {/volist}
         </section>
         
         
		<div class="search-block">
        <form action="{:url('view/savecomment',['bid'=>$bid.book_id])}" method="get">
        <span style="float:left;"><h6>我要留言：</h6> </span>
        <div class="clearfix"></div>
			<textarea style="float:left;" class="" name="text" type="text" value="" rows="10" cols="130"></textarea>
         <div class="clearfix"></div>
         
          <button style="float:left;" type="submit" class="form-button" title="addcomment">添加留言</button>
        </form>
        </div>
        <div class="clearfix"></div>
        <div style="color:#D1D1D1" >————————————————————————————————————————————————————————————————————————</div>
		
		<div class="clearfix"></div>
		</div>
		</section>
	</div>
           <!--Footer Block-->  
           {include file="public/footer"}
</body>
</html>
<script>
$(document).ready(function(){
	$("#password").keyup(function(){
		var password = $("#password").val();
		if(password.length<5){
			$("#password").trigger("focus");
			$('#password').css("border","1px solid red");
			$("#yzpassword").css("color","red").text("密码最小长度为5");
			return false;
		}else{
			$('#password').css("border","1px solid #ccc");
			$("#yzpassword").css("color","red").text("");
		}
	})
}
</script>