<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
{include file="public/head"}
<body>
	<div class="mainContainer sixteen container">
            <!--Header Block-->
            {include file="public/header"}
            <!--Banner Block-->
    <div class="firstly">
        <table class="table table-goods" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th width="280">书名</th>
                    <th width="140" >更新时间</th>
                    <th width="140" >价格</th>
                    <th width="140" >类型</th>
					<th width="140" >当前状态</th>
                    <th class="last">操作</th>
                </tr>
                {volist name="books" id="vo"}
                <tr class="j-row">
                    <td class="vtop">
                        <div class="title-area" title="">
                        <div class="img-wrap">
                        <a href="{:url('view/index',['bid'=>$vo.book_id])}" target="_blank"><img src="{$vo.photo}" style="height:70px;width:80px;"></a>
                        </div>
                        <div class="title-wrap">
                        <div class="title">
                        <a href="{:url('view/index',['bid'=>$vo.book_id])}" class="link">{$vo.name}</a>
                        </div>
                        <div class="attrs"></div>
                        </div>
                        </div>
                    </td>
                    <td class="price font14" ><span class="j-sumPrice" style="color:#35C2D8;">{$vo.create_time}</span></td>
                    <td class="price font14" ><span class="j-sumPrice" style="">￥{$vo.price}</span></td>
                    <td class="price font14" ><span class="j-sumPrice" style="">{$vo.type}</span></td>
                    <td class="price font14" >
                    {if condition="$vo.status eq '0'"}
					<span class="label label-success radius">待审核</span>
					{else /}
					{if condition="$vo.status eq '1'"}
					<span class="label  label-success radius" >审核通过</span>
					{else /}
                    {if condition="$vo.status eq '2'"}
                    <span class="label  label-success radius" >已发货</span>
                    {else /}
					{if condition="$vo.status eq '3'"}
					<span class="label label-success radius">需发货</span>
					{else /}
					
					<span class="label label-success radius">完成交易</span>
					{/if}
					{/if}
                    {/if}
                    {/if}
                    </td>
                    <td class="price font14" style="text-align:right">
                    {if condition="$vo.status eq '3'"}
                    <a href="{:url('booksell/delivery',['bid'=>$vo.book_id])}" title="发货" class="colors-btn" >发货</a>
                    {/if}
                    </td>
                </tr>
                {/volist}

            </tbody>
            </table>
            5
              <div style="width: 100%;min-width: 1200px;height: 5px;background: #dbdbdb;margin: 50px 0 20px;"></div>
    </div>   
<section class="content-wrapper">
    <div class="content-container container">
        
        <div class="clearfix"></div>
        <div class="news-letter-container">
            <div class="free-shipping-block">
                <h1>ENJOY FREE SHIPPING</h1>
                <p>on all orders as our holiday gift for you!</p>
            </div>
            <div class="news-letter-block">
                <h2>SIGN UP FOR OUR NEWSLETTER</h2>
                <input type="text" value="Enter email address" title="" />
                <input class="submit-btn" type="submit" value="Submit" title="Submit" />
            </div>
        </div>  
    </div>
</section>
</div>
           <!--Footer Block-->  
           {include file="public/footer"}
</body>
</html>