<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
{include file="public/head"}
<body>
	<div class="mainContainer sixteen container">
            <!--Header Block-->
            {include file="public/header"}
            <!--Banner Block-->
            <section class="banner-wrapper">
              <div class="banner-block container">
                <div class="flexslider">
                  <ul class="slides">
                    <li><img title="Banner" alt="Banner" src="images/banner1.jpg" /></li>
                    <li><img title="Banner" alt="Banner" src="images/banner2.jpg"></li>
                    <li><img title="Banner" alt="Banner" src="images/banner3.jpg" /></li>
                    <li><img title="Banner" alt="Banner" src="images/banner4.jpg" /></li>
                  </ul>
                </div>
                <ul class="banner-add">
                  <li class="add1"><a href="#" title=""><img title="add1" alt="add1" src="images__STATIC__1.jpg" /></a></li>
                  <li class="add2"><a href="#" title=""><img title="add2" alt="add2" src="images__STATIC__2.jpg" /></a></li>
                </ul>
              </div>
            </section>
            <!--Content Block-->
            <section class="content-wrapper">
              <div class="content-container container">
                <div class="heading-block">
                  <h1>推荐书籍</h1>
                  <ul class="pagination">
                    <li class="grid"><a href="#" title="Grid">Grid</a></li>
                  </ul>
                </div>
                <div class="feature-block">
                  <ul id="mix" class="product-grid">
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="images/default_img.png" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="images/default_img.png" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="images/default_img.png" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="images/default_img.png" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="images/default_img.png" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="images/default_img.png" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="images/default_img.png" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                    <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="images/default_img.png" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
      				      <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="images/default_img.png" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">Htc One 1120</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="heading-block">
                  <h1>当前类别</h1>
                </div>
                <div class="new-product-block">
                  <ul class="product-grid">
                    {volist name="books" id="vo"}
                    <li>
                      <div class="pro-img" >
                        <img alt="Freature Product" src="{$vo.photo}" style="height:180px;width:180px;">
                      </div>
                      <div class="pro-content">
                        <p>{$vo.name}</p>
                      </div>
                      <div class="pro-price">￥{$vo.price}</div>
                      <div class="pro-btn-block"> 
                      <a class="add-cart left" href="#" title="Add to Cart">加入购物车</a> 
                      <a class="add-cart right quickCart inline" href="#quick-view-container" title="Quick View">预览</a> </div>
                      <div class="pro-link-block"> <a class="add-wishlist left" href="#" title="Add to wishlist"></a> <a class="add-compare right" href="#" title="Add to Compare"></a>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                     {/volist}
                  </ul>
                </div>
              </div>
            </section>
    </div> 
    <!--Quick view Block-->
<script type="text/javascript">
jQuery (function(){
	var tabContainers=jQuery('div.tabs > div');
	tabContainers.hide().filter(':first').show();
	jQuery('div.tabs ul.tabNavigation a').click(function(){
		tabContainers.hide();
		tabContainers.filter(this.hash).show();
		jQuery('div.tabs ul.tabNavigation a').removeClass('selected');
		jQuery(this).addClass('selected');
		return false;
		}).filter(':first').click();
	});
</script>
<article style="display:none;">
	<section id="quick-view-container" class="quick-view-wrapper">
	<div class="quick-view-container">
		<div class="quick-view-left">
			<h2>Sunglass RB3184</h2>
			<div class="product-img-box">
				<p class="product-image">
					<img src="images/sale_icon_img.png" title="Sale" alt="Sale" class="sale-img" />
					<a href="view.html" title="Image"><img src="images/quick_view_img.png" title="Image" alt="Image" /></a>				</p>
				<ul class="thum-img">
					<li><img  src="images/quick_thum_img.png" title="" alt="" /></li>
					<li><img  src="images/quick_thum_img.png" title="" alt="" /></li>
				</ul>
			</div>
		</div>
		<div class="quick-view-right tabs">
			<ul class="tab-block tabNavigation">
				<li><a class="selected" title="Overview" href="#tabDetail">Overview</a></li>
				<li><a title="Description" href="#tabDes">Description</a></li>
			</ul>
			<div id="tabDetail" class="tabDetail">
            	<div class="first-review">Be the first to review this product</div>
			<div class="price-box">
				<span class="price">$600.00</span>			</div>
			<div class="availability">In stock</div>
			<div class="color-size-block">
				<div class="label-row">
					<label><em>*</em> color</label>
					<span class="required">* Required Fields</span>				</div>
				<div class="select-row">
					<select><option>-- Please Select --</option></select>
				</div>
				<div class="label-row">
					<label><em>*</em> size</label>
				</div>
				<div class="select-row">
					<select><option>-- Please Select --</option></select>
				</div>
			</div>
			<div class="add-to-cart-box">
				<span class="qty-box">
					<label for="qty">Qty:</label>
					<a class="prev" title="" href="#"><img alt="" title="" src="images/qty_prev.png"></a>
					<input type="text" name="qty" class="input-text qty" id="qty" maxlength="12" value="1">
					<a class="next" title="" href="#"><img alt="" title="" src="images/qty_next.png"></a>				</span>
				<button title="Add to Cart" class="form-button"><span>Add to Cart</span></button>
			</div>
            </div>
            <div id="tabDes" class="tabDes">
            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat odio, suscipit eu porta et, ultricies id sapien. Quisque posuere odio eget lectus suscipit sodales. Sed consequat, leo ut varius scelerisque, augue massa tincidunt est, et tincidunt enim tortor a metus. In sit amet diam in tellus tincidunt mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi hendrerit eleifend tortor, a dapibus tellus suscipit porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In mollis adipiscing mi et volutpat. Aliquam vitae dui nunc. Nulla ac ante eu massa dictum volutpat. Sed mauris sem, posuere sit amet pretium consectetur, ullamcorper vel orci. Aenean feugiat luctus lectus ac hendrerit. Fusce pulvinar, mauris eget sodales suscipit, diam neque condimentum lectus, id imperdiet felis turpis egestas neque. In aliquet orci eget nisl sollicitudin sed gravida tortor commodo</p>
            </div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
</article>     
           <!--Footer Block-->  
           {include file="public/footer"}
</body>
</html>