<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
{include file="public/head"}
<body>
	<div class="mainContainer sixteen container">
            <!--Header Block-->
            {include file="public/header"}
            <!--Banner Block-->
            <section class="banner-wrapper">
              <div class="banner-block container">
                <div class="flexslider">
                  <ul class="slides">
                    <li><img title="Banner" alt="Banner" src="__STATIC__/index/images/banner1.jpg" /></li>
                    <li><img title="Banner" alt="Banner" src="__STATIC__/index/images/banner2.jpg"></li>
                    <li><img title="Banner" alt="Banner" src="__STATIC__/index/images/banner3.jpg" /></li>
                    <li><img title="Banner" alt="Banner" src="__STATIC__/index/images/banner4.jpg" /></li>
                  </ul>
                </div>
                <ul class="banner-add">
                  <li class="add1"><a href="#" title=""><img title="add1" alt="add1" src="__STATIC__/index/images__STATIC__1.jpg" /></a></li>
                  <li class="add2"><a href="#" title=""><img title="add2" alt="add2" src="__STATIC__/index/images__STATIC__2.jpg" /></a></li>
                </ul>
              </div>
            </section>
            <!--Content Block-->
            <section class="content-wrapper">
              <div class="content-container container">
                <div class="heading-block">
                  <h1>推荐书籍</h1>
                  <ul class="pagination">
                    <li class="grid"><a href="#" title="Grid">Grid</a></li>
                  </ul>
                </div>
                <div class="feature-block">
                  <ul id="mix" class="product-grid">
      				      <li>
                      <div class="pro-img"><img title="Freature Product" alt="Freature Product" src="__STATIC__/index/images/default_img.png" /></div>
                      <div class="pro-hover-block">
                        <h4 class="pro-name">{$Request.session.book1.name}</h4>
                        <div class="link-block"> 
                        <a href="#quick-view-container" class="quickllook inline" title="Quick View">Quick View</a> 
                        <a href="view.html" class="quickproLink" title="Link">Product link</a></div>
                        <div class="pro-price">$600.00</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="heading-block">
                  <h1>当前类别</h1>
                </div>
                <div class="new-product-block">
                  <ul class="product-grid">
                    {volist name="books" id="vo"}
                    <li>
                      <div class="pro-img" >
                        <img alt="Freature Product" src="{$vo.photo}" style="height:180px;width:180px;">
                      </div>
                      <div class="pro-content">
                        <p style="max-width:225px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" title="{$vo.name}">{$vo.name}</p>
                      </div>
                      <div class="pro-price">￥{$vo.price}</div>
                      <div class="pro-btn-block"> 
                      <a class="add-cart left" href="{:url('index/addcart',['bid'=>$vo.book_id])}" title="Add to Cart">加入购物车</a> 
                      <a class="add-wishlist right" href="{:url('view/index',['bid'=>$vo.book_id])}" id="{$vo.book_id}" title="预览">预览</a> </div>
                      <div class="pro-link-block"> <a class="add-wishlist left" href="#" title="Add to wishlist"></a> <a class="add-compare right" href="#" title="Add to Compare"></a>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                     {/volist}
                     
                  </ul>
                  <div class="cl pd-5 bg-1 bk-gray mt-20 pagn-1" style="float:center;">{$books->render()}</div>
                </div>
              </div>
            </section>
    </div> 
    <!--Quick view Block-->    
           <!--Footer Block-->  
           {include file="public/footer"}
</body>
</html>