<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
{include file="public/head"}
<body>
	<div class="mainContainer sixteen container">
            <!--Header Block-->
            {include file="public/header"}
                <!--Content Block-->
                <section class="content-wrapper">
                	<div class="content-container container">
                		<div class="col-left">
                			<div class="block community-block">
                              <div class="block-title">建议您填写</div>
                                <ul>
                                    <li class="question-row">
                                    1.二手书的目录</br>
                                    1.二手书的目录</br>
                                    1.二手书的目录</br>
                                    1.二手书的目录</br>
                                    1.二手书的目录</br>
                                    1.二手书的目录</br>
                                    </li>
                                </ul>
                			</div>
                		</div>
                        <form action="{:url('book/save')}" method="post" enctype="multipart/form-data">
                		<div  class="col-main">
                			<h1 class="page-title">书籍信息</h1>
                			<div class="contact-form-container">
                				<div  class="form-title">请填写下列信息</div>
                				<ul class="form-fields">
                                    <li class="left">
                                        <label>书名<em>*</em></label>
                                        <input type="text" name="name">
                                    </li>
                                    <div class="clearfix"></div>
                                    <li class="left">
                                        <label>类型<em>*</em></label>
                                        <select name="type">
                                        {volist name="categorys" id="vo"}
                                        <option value="volvo">{$vo.type_name}</option>
                                        {/volist}   
                                        </select>
                                    </li>
                                    <div class="clearfix"></div>
                                    <li>
                                        <label>图片<em></em></label>
                                        <input id="photo" placeholder="" name="photo"  type="file">
                                    </li>
                                    <li class="full-row">
                                        <label>描述<em>*</em></label>
                                        <textarea name="introduce"></textarea>
                                    </li>
                                    <li class="left">
                                        <label>价格 人民币（元）<em>*</em></label>
                                        <input id="price" type="text" name="price">
                                    </li>
                				</ul>
                				<div class="button-set">
                					<p class="required">* 为必须填写</p>
                					<button type="submit" class="form-button"><span>提交</span></button>
                				</div>
                			</div>
                		</div></form>
                		<div class="clearfix"></div>
                		<div class="news-letter-container">
                		</div>	
                	</div>
                </section>
                </div>
            <!--Footer Block-->
          {include file="public/footer"}
</body>
</html>