<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
{include file="public/head"}
<body>
	<div class="mainContainer sixteen container">
            <!--Header Block-->
            {include file="public/header"}
            <!--Banner Block-->
          <section class="content-wrapper">
	<div class="content-container container">
		<div class="breadcrum-container">
			<ul>
				<li><a href="#" title="Home">Home</a></li>
				<li>当前商品</li>
			</ul>
		</div>
		<div class="main">
			
			<div class="product-info-box">
				<div class="product-essential">
					<div class="product-img-box">
						<p class="product-image-zoom">
							<img src="images/view_img.png"  alt="Image" title="Image" />
					</div>
					<div class="product-shop">
						<h3 class="product-name">{$bid.name}</h3>
						<div class="price-box">
                		    <span class="price">￥600.00</span>
							<span class="availability">In stock</span>
				        </div>
				        <div class="first-review">
							<h4>二手书介绍：</h4>
							<textarea style= "background:transparent;border-style:none; "> 透明 </textarea>
						</div>
						<div class="model-block">
							<p>
								<span>联系电话： </span>20
							</p>
							<p>
								<span>卖家： </span>HTC
							</p>
						</div>
						<div class="add-to-cart-box">
							<button class="form-button" title="Add to Cart"><span>加入购物车</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
</div>
           <!--Footer Block-->  
           {include file="public/footer"}
</body>
</html>