<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
{include file="public/head"}
<body>
	<div class="mainContainer sixteen container">
            <!--Header Block-->
            {include file="public/header"}
                <!--Content Block-->
                <section class="content-wrapper">
                	<div class="content-container container">                        
                		<div class="col-left">
                			<div class="block community-block">
                				<div class="block-title">请选择</div>
                				<ul>
                					<li class="question-row">
                                        <strong>设置</strong></br>
                                        <a href="{:url('center/info')}">个人信息</a></br>
                                        <a href="{:url('center/index')}">修改个人信息</a></br>
                                        <a href="{:url('center/changepwd')}">修改密码</a>
                                    </li>
                                    <li class="question-row">
                                        <strong>购物</strong></br>
                                        <a href="{:url('order/index')}">我的订单</a></br>
                                        <a href="{:url('cart/index')}">购物车</a>
                                    </li>
                                    <li class="question-row">
                                        <strong>卖书</strong></br>
                                        <a href="{:url('book/index')}">我要卖书</a></br>
                                        <a href="{:url('book/sell')}">我卖的书</a>
                                    </li>
                                    <li class="question-row">
                                        <strong>客户服务</strong></br>
                                        <a href="{:url('advice/index')}">意见建议</a></br>
                                    </li>
                				</ul>
                			</div>
                		</div>
                        <form action="{:url('center/change')}" method="post">
                		<div  class="col-main">
                			<h1 class="page-title">更改密码</h1>
                			<div class="contact-form-container">
                				<div  class="form-title">请填写旧密码</div>
                				<ul class="form-fields">
                					<li class="left">
                						<label>您的旧密码<em>*</em></label>
                						<input id="opwd" name="opwd" type="text" value=""></br>
                					</li>
                                    <div class="clearfix"></div>
                                    <div  class="form-title">请填写旧密码</div>
                					<li class="left">
                						<label>新密码<em>*</em></label>
                						<input id="npwd" name="npwd" type="text" >
                					</li>
                                    <div class="clearfix"></div>
                                    <li class="left">
                                        <label>再次输入密码<em>*</em></label>
                                        <input id="gpwd" name="gpwd" type="text" >
                                    </li>
                                    <div class="clearfix"></div>
                				</ul>
                				<div class="button-set">
                					<button type="submit" class="form-button"><span>更改</span></button>
                				</div>
                			</div>
                		</div>
                        </form>
                		<div class="clearfix"></div>
                		<div class="news-letter-container">
                		</div>	
                	</div>
                </section>
                </div>
            <!--Footer Block-->
          {include file="public/footer"}
</body>
</html>