<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
{include file="public/head"}
<body>
	<div class="mainContainer sixteen container">
            <!--Header Block-->
           <!-- {include file="public/header"}-->
            <!--Content Block-->
            <div class="header-wrapper">
    <header class="container">
    <div class="head-right">
      <ul class="top-nav">
          <li class=""><a href="{:url('center/index')}" title="My Account">个人中心</a></li>
          <li class="my-wishlist"><a href="{:url('cart/index')}" title="购物车">购物车</a></li>
          <li class="checkout"><a href="{:url('order/index')}" title="Checkout">我的订单</a></li>
          <li class="contact-us"><a href="{:url('advice/index')}" title="Contact Us">关于我们</a></li>
          {if condition="$Request.session.name neq ''"}
          <li class="log-in"><a href="{:url('user/login')}" title="Log In">{$Request.session.name}</a></li>
          <li class="log-in"><a href="{:url('user/logout')}" title="Log out">注销</a></li>
          {else /} 
          <li class="log-in"><a href="{:url('user/login')}" title="Log In">登录/注册</a></li>
          {/if}
      </ul>
      <ul class="currencyBox">
            <li id="header_currancy" class="currency"> <a class="mainCurrency" href="#">我要卖书</a>
          <div id="currancyBox" class="currency_detial"> <a href="{:url('book/index')}">卖书登记</a> <a href="#">卖书信息</a>
          </div>
        </li>
      </ul>
      <section class="header-bottom">
        <div class="cart-block">
         <ul>
          <li><a href="{:url('Cart/index')}" title="Cart"><img title="Item" alt="Item" src="__STATIC__/index/images/item_icon.png" /></a></li>
          <li>购物车</li>
         </ul>
        <div id="minicart" class="remain_cart" style="display: none;">
        <p class="empty">购物车预览</p>
        <ol>
          {volist name="shop_cart" id="vo"}
        <li>
        <div class="img-block"><img src="{$vo.photo}" title="" alt="" /></div>
        <div class="detail-block">
           <h4><a href="{:url('view/index',['bid'=>$vo.book_id])}" title="{$vo.name}">{$vo.name}</a></h4>
           <p>
          <strong>￥{$vo.price}</strong>
           </p>
          </div>
          <div class="edit-delete-block">
                <a href="{:url('index/delcart',['bid'=>$vo.book_id])}" title="Remove"><img src="__STATIC__/index/images/delete_item_btn.png" alt="删除" title="删除" /></a>
              </div>
            </li>
        {/volist}
            <li>
              <a href="{:url('index/cleancart')}" title="Checkout" class="colors-btn" style="float:left;">清空</a>
              <a href="{:url('cart/index')}" title="Checkout" class="colors-btn">去结算</a>
              <div class="clear"></div>
            </li>
           </ol>
        </div>
      </div>
      <div class="search-block">
        <form action="{:url('search/index')}" method="get">
          <input name="name" type="text" value="{$name}" />
          <input type="submit" value="Search" title="搜索" />
        </form>
        </div>
      </section>
    </div>
    <h1 class="logo"><a href="{:url('index/index')}" title="Logo">
      <img title="Logo" alt="Logo" src="__STATIC__/index/images/logo.png" />
      </a></h1>
    <nav id="smoothmenu1" class="ddsmoothmenu mainMenu">
      <ul id="nav">
        <li class="active"><a href="{:url('index/index')}" title="Home">首页</a></li>
        {volist name="categorys" id="vo"}
        <li class=""><a href="{:url('Search1/index',['type'=>$vo.type_name])}" title="{$vo.type_name}">{$vo.type_name}</a></li>
        {/volist}
      </ul>
    </nav> 
  </header>
</div>
            
            <section class="content-wrapper">
              <div class="content-container container">
                <div class="heading-block">
                  <h1>搜索结果：</h1>
                </div>
                <div class="new-product-block">
                  <ul class="product-grid">
                    {volist name="result" id="vo"}
                    <li>
                      <div class="pro-img" >
                        {if condition="$vo.photo eq ''"}
                        <a href="{:url('view/index',['bid'=>$vo.book_id])}"><img alt="" src="__STATIC__/index/images/default_img.png" style="height:180px;width:180px;"></a>
                        {else /}
                        <a href="{:url('view/index',['bid'=>$vo.book_id])}"><img alt="" src="{$vo.photo}" style="height:180px;width:180px;"></a>
                        {/if}
                      </div>
                      <div class="pro-content">
                        <p>{$vo.name}</p>
                      </div>
                      <div class="pro-price">￥{$vo.price}</div>
                      <div class="pro-btn-block"> 
                       <a class="add-cart left" href="{:url('index/addcart',['bid'=>$vo.book_id])}" title="Add to Cart">加入购物车</a> 
                      <a class="add-wishlist right" href="{:url('view/index',['bid'=>$vo.book_id])}" id="{$vo.book_id}" title="预览">预览</a> </div>
                      <div class="pro-link-block"> <a class="add-wishlist left" href="#" title="Add to wishlist"></a> <a class="add-compare right" href="#" title="Add to Compare"></a>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                     {/volist}
                  </ul>
                </div>
              </div>
            </section>
    </div> 
    <!--Quick view Block-->
<script type="text/javascript">
jQuery (function(){
	var tabContainers=jQuery('div.tabs > div');
	tabContainers.hide().filter(':first').show();
	jQuery('div.tabs ul.tabNavigation a').click(function(){
		tabContainers.hide();
		tabContainers.filter(this.hash).show();
		jQuery('div.tabs ul.tabNavigation a').removeClass('selected');
		jQuery(this).addClass('selected');
		return false;
		}).filter(':first').click();
	});
</script>
<article style="display:none;">
	<section id="quick-view-container" class="quick-view-wrapper">
	<div class="quick-view-container">
		<div class="quick-view-left">
			<h2>Sunglass RB3184</h2>
			<div class="product-img-box">
				<p class="product-image">
					<img src="images/sale_icon_img.png" title="Sale" alt="Sale" class="sale-img" />
					<a href="view.html" title="Image"><img src="images/quick_view_img.png" title="Image" alt="Image" /></a>				</p>
				<ul class="thum-img">
					<li><img  src="images/quick_thum_img.png" title="" alt="" /></li>
					<li><img  src="images/quick_thum_img.png" title="" alt="" /></li>
				</ul>
			</div>
		</div>
		<div class="quick-view-right tabs">
			<ul class="tab-block tabNavigation">
				<li><a class="selected" title="Overview" href="#tabDetail">Overview</a></li>
				<li><a title="Description" href="#tabDes">Description</a></li>
			</ul>
			<div id="tabDetail" class="tabDetail">
            	<div class="first-review">Be the first to review this product</div>
			<div class="price-box">
				<span class="price">$600.00</span>			</div>
			<div class="availability">In stock</div>
			<div class="color-size-block">
				<div class="label-row">
					<label><em>*</em> color</label>
					<span class="required">* Required Fields</span>				</div>
				<div class="select-row">
					<select><option>-- Please Select --</option></select>
				</div>
				<div class="label-row">
					<label><em>*</em> size</label>
				</div>
				<div class="select-row">
					<select><option>-- Please Select --</option></select>
				</div>
			</div>
			<div class="add-to-cart-box">
				<span class="qty-box">
					<label for="qty">Qty:</label>
					<a class="prev" title="" href="#"><img alt="" title="" src="images/qty_prev.png"></a>
					<input type="text" name="qty" class="input-text qty" id="qty" maxlength="12" value="1">
					<a class="next" title="" href="#"><img alt="" title="" src="images/qty_next.png"></a>				</span>
				<button title="Add to Cart" class="form-button"><span>Add to Cart</span></button>
			</div>
            </div>
            <div id="tabDes" class="tabDes">
            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat odio, suscipit eu porta et, ultricies id sapien. Quisque posuere odio eget lectus suscipit sodales. Sed consequat, leo ut varius scelerisque, augue massa tincidunt est, et tincidunt enim tortor a metus. In sit amet diam in tellus tincidunt mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi hendrerit eleifend tortor, a dapibus tellus suscipit porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In mollis adipiscing mi et volutpat. Aliquam vitae dui nunc. Nulla ac ante eu massa dictum volutpat. Sed mauris sem, posuere sit amet pretium consectetur, ullamcorper vel orci. Aenean feugiat luctus lectus ac hendrerit. Fusce pulvinar, mauris eget sodales suscipit, diam neque condimentum lectus, id imperdiet felis turpis egestas neque. In aliquet orci eget nisl sollicitudin sed gravida tortor commodo</p>
            </div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
</article>     
           <!--Footer Block-->  
           {include file="public/footer"}
</body>
</html>