<div class="header-wrapper">
  <header class="container">
    <div class="head-right">
      <ul class="top-nav">
          <li class=""><a href="{:url('center/index')}" title="My Account">个人中心</a></li>
          <li class="my-wishlist"><a href="{:url('cart/index')}" title="购物车">购物车</a></li>
          <li class="checkout"><a href="{:url('order/index')}" title="Checkout">我的订单</a></li>
          <li class="contact-us"><a href="{:url('advice/index')}" title="Contact Us">关于我们</a></li>
          {if condition="$Request.session.name neq ''"}
          <li class="log-in"><a href="{:url('user/login')}" title="Log In">{$Request.session.name}</a></li>
          <li class="log-in"><a href="{:url('user/logout')}" title="Log out">注销</a></li>
          {else /} 
          <li class="log-in"><a href="{:url('user/login')}" title="Log In">登录/注册</a></li>
          {/if}
      </ul>
      <ul class="currencyBox">
            <li id="header_currancy" class="currency"> <a class="mainCurrency" href="#">我要卖书</a>
          <div id="currancyBox" class="currency_detial"> <a href="{:url('book/index')}">卖书登记</a> <a href="#">卖书信息</a>
          </div>
        </li>
      </ul>
      <section class="header-bottom">
        <div class="cart-block">
         <ul>
          <li><a href="cart.html" title="Cart"><img title="Item" alt="Item" src="__STATIC__/index/images/item_icon.png" /></a></li>
          <li>购物车</li>
         </ul>
        <div id="minicart" class="remain_cart" style="display: none;">
        <p class="empty">购物车预览</p>
        <ol>
          {volist name="shop_cart" id="vo"}
        <li>
        <div class="img-block"><img src="{$vo.photo}" title="" alt="" /></div>
        <div class="detail-block">
           <h4><a href="{:url('view/index',['bid'=>$vo.book_id])}" title="{$vo.name}">{$vo.name}</a></h4>
           <p>
          <strong>￥{$vo.price}</strong>
           </p>
          </div>
          <div class="edit-delete-block">
                <a href="{:url('index/delcart',['bid'=>$vo.book_id])}" title="Remove"><img src="__STATIC__/index/images/delete_item_btn.png" alt="删除" title="删除" /></a>
              </div>
            </li>
        {/volist}
            <li>
              <a href="{:url('index/cleancart')}" title="Checkout" class="colors-btn" style="float:left;">清空</a>
              <a href="{:url('cart/index')}" title="Checkout" class="colors-btn">去结算</a>
              <div class="clear"></div>
            </li>
           </ol>
        </div>
      </div>
      <div class="search-block">
        <form action="{:url('search/index')}" method="get">
          <input name="keywords" type="text" value="" />
          <input type="submit" value="Search" title="搜索" />
        </form>
        </div>
      </section>
    </div>
    <h1 class="logo"><a href="{:url('index/index')}" title="Logo">
      <img title="Logo" alt="Logo" src="__STATIC__/index/images/logo.png" />
      </a></h1>
    <nav id="smoothmenu1" class="ddsmoothmenu mainMenu">
      <ul id="nav">
        <li class="active"><a href="{:url('index/index')}" title="Home">首页</a></li>
        {volist name="categorys" id="vo"}
        <li class=""><a href="blog.html" title="{$vo.type_name}">{$vo.type_name}</a></li>
        {/volist}
      </ul>
    </nav> 
  </header>
</div>


