<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
{include file="public/head"}
<body>
<div class="mainContainer sixteen container">
            <!--Header Block-->
            {include file="public/header"}
            <!--Content Block-->
<section class="content-wrapper">
  <div class="content-container container">
    <div class="main">
      <h1 class="page-title">注册</h1>
      <div class="fieldset">
              <h2 class="legend">用户信息</h2>
        <ul class="form-list">
          <li class="fields">
            <div class="customer-name">
              <div class="input-box name-firstname">
                <label for="firstname">用户名<em>*</em></label>
                <input type="text" class="required-entry input-text" title="First Name" value="" name="firstname" id="firstname">
              </div>
              <div class="clear"></div>
  
  </div>                </li>
          <li>
            
            <div class="input-box">
              <label class="required" for="email_address">邮箱<em>*</em></label>
              <input type="text" class="input-text validate-email required-entry" title="Email Address" value="" id="email_address" name="email">
            </div>
            <div class="clear"></div>

        </ul>
        <h2 class="legend">登录信息</h2>
        <ul class="form-list">
          <li class="fields">
            <div class="customer-name">
              <div class="input-box name-firstname">
                <label for="firstname">密码<em>*</em></label>
                <input type="password" class="required-entry input-text" title="First Name" value="" name="firstname" id="firstname">
              </div>
              <div class="input-box name-lastname">
                <label for="lastname">确认密码<em>*</em></label>
                <input type="password" class="required-entry input-text" title="Last Name" value="" name="lastname" id="lastname">
              </div>
              <div class="clear"></div>
            </div>
          </li>
        </ul>
        <div class="buttons-set">
          <p class="required">* 为必须填写</p>
          <a href="account_login.html" title="Back" class="f-left">&laquo; 返回</a>
          <a title="Submit" class="colors-btn"><span><span>注册</span></span></a>
          <div class="clear"></div>
        </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="news-letter-container">
      <div class="free-shipping-block">
        <h1>ENJOY FREE SHIPPING</h1>
        <p>on all orders as our holiday gift for you!</p>
      </div>
      <div class="news-letter-block">
        <h2>SIGN UP FOR OUR NEWSLETTER</h2>
        <input type="text" value="Enter email address" title="" />
        <input type="submit" value="Submit" title="Submit" />
      </div>
    </div>  
  </div>
</section>
</div>
<!--Footer Block-->
      {include file="public/footer"}
</body>
</html>